:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #757575;
  --accent-txt-cl: #2196f3;
  --second-txt-cl: #ffffff;
  --black-txt-cl: #000000;
  --footer-link-txt-cl: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --accent-bg-cl: #2f303a;
  --bg-cl: #f5f5f5;
  --second-bg-cl: #f5f4fa;

  /* Others */
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
/* body */
.page {
  font-size: 14px;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background: var(--second-txt-cl);
}

/*Header*/
.header {
  background: var(--second-txt-cl);
  color: currentColor;
}
/*.navigation {
}*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--black-txt-cl);
}

.logo-part {
  color: var(--accent-txt-cl);
}

.nav-item {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.nav-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);
}

.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
}

.current {
  color: var(--accent-txt-cl);
}

/*Section 1 (шапка)*/

.hero {
  background-color: var(--accent-bg-cl);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--second-txt-cl);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--second-txt-cl);
  background-color: var(--accent-txt-cl);
}

/*Section 2 (особливості)*/
/* .feature {
} */

/*.feature-headline {
}

.feature-item {
}*/

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.feature-text {
  width: 270px;
  line-height: calc(24 / 14);
  color: var(--light-txt-cl);
}

/*чим ми займаємося*/

/*.outer {
}*/

.outer-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-txt-cl);
}

.outer-item {
  width: 370px;
}

/*Команда*/

.team {
  background: var(--second-bg-cl);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-txt-cl);
}

.team-item {
  width: 270px;
  background-color: var(--second-txt-cl);
}

/*.team-img {
}*/

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-txt-cl);
}

.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--light-txt-cl);
}

/*Footer */

.footer {
  background-color: var(--accent-bg-cl);
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo-part {
  color: var(--second-txt-cl);
}
.footer-contact {
  font-style: normal;
  text-decoration: none;
  line-height: calc(24 / 14);
}
.footer-text {
  margin-bottom: 9px;
  line-height: calc(24 / 14);
  color: var(--second-txt-cl);
}

.footer-item {
  margin-bottom: 9px;
  color: var(--footer-link-txt-cl);
}

/*Partfolio*/

.partfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  align-items: center;
  text-align: center;
  background-color: var(--second-bg-cl);
  border: none;
}

.partfolio-btn:hover,
.partfolio-btn:focus {
  color: var(--second-txt-cl);
  background: var(--accent-txt-cl);
}
/*.partfolio-work {
}

.partfolio-work-img {
}*/

.partfolio-work-item {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.partfolio-work-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--light-txt-cl);
}
